* {
    /* background-color:#0B1216; */
}

body {
    background-color: #0b1216;
    display: flex;
}

header {
    background-color: #222E35;

}

.option {
    background-color: #222E35;
    color: aliceblue;
    width: 5%;
    height: 100%;
    display: flex;

}

.firstoption {
    background-color: #0C1317 width: 100%;
    position: relative;
    left:70%;
    display: flex;
    justify-content: space-between;
}

.firstimg {
    width: 100%;
    height: 70%;
    border: 1px;
    border-width: 20cap;
}

.settingandpic {
    justify-content: space-between;
    padding-top: 500px;
}

.container {
    display: flex;
    justify-content: space-around background-color:;
    width: 100%;
    color: aliceblue;
}

.right-section {
    display: flex;
    background-color: aqua;

}

.icon {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 30%;
    margin-left: 100%;
}

.create {
    position: absolute;
    left: 24%;
    top: 4.5%;
}

.circle {
    position: absolute;
    left: 27%;
    top: 4.5%;
}

.blue-circle {
    position: absolute;
    left: 20%;
    top: 4.5%;
}
.right-box{
   width: 250%;
   background-color: #222E35;
}

.chat-img{
    width: 50%;
    padding-top: 13%;
    padding-left: 19%;
}